/target
/src-tauri/target
/node_modules
/dist
/src-tauri/gen
/release
/installer/vendor
/installer/gen
/installer/target

# Written by Pious into plugin folders (the API file, engine pages) and plugins' own saved data
/plugins/*/pious-plugin.js
/plugins/*/pious-ui.css
/plugins/*/pious-engine.html
/plugins/*/data/
